@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 12px;
    
}

::-webkit-scrollbar-thumb{
    background-color: #D0D0D0;
}