
@media screen and (max-width: 991px){

    h1{
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
    .navToggle{
        display: block;
        margin-right: 20px;
    }
    .navBar{
        overflow: initial;
    }
    .navLink{
        position: absolute;
        background-color: #ffffff;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 24px;
        transition: 0.5s ease-in-out;
    }
    .active{
        left: 0;
    }
    .navLink ul {
        flex-direction: column;
    }

    .exampleArea {
        gap: 20px;
    }

    .exampleCard {
        width: calc(50% - 10px);
        height: 180px;
    }
}

@media screen and (max-width: 767px) {

    .primaryBtn {
        width: 100%;
        text-align: center;
    }
    .headerSection{
        flex-direction: column-reverse;
    }
    .headerLeft {
        max-width: 100vw;
        text-align: center;
    }

    .featureCard {
        min-width: calc(50% - 10px);
    }

    .bigFeatureContainer {
        flex-direction: column;
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .linkcolumn {
        align-items: center;
    }
    
}

@media screen and (max-width: 479px){

    :root {
        --padding-inline-section: 10px;
    }

    h1{
        font-size: 2rem;
    }
    
    h2{
        font-size: 1.5rem;
    }
    
    h3{
        font-size: 1.2rem;
    }

    .featureCard {
        min-width: 100%;
    }

    
    .exampleHeader h2{
        text-align: center;
    }

    .exampleCard{
        width: 100%;
    }
    
}